/* Smooth border transition for the card */
.group {
  transition: border-color 0.3s ease;
}

/* Image Zoom */
img {
  transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.group:hover img {
  transform: scale(1.05);
}

/* Link Underline Animation */
a {
  position: relative;
  text-decoration: none; /* Remove default underline to build our own */
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0); /* Start hidden */
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.group:hover a::after {
  transform: scaleX(1); /* Slide in */
  transform-origin: bottom left;
}